[Unit]
Description=pi500kb USB OTG Keyboard & Mouse forwarding

[Service]
ExecStart=/usr/bin/pi500kb
User=root   
Group=root   
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
